<h2>Productos</h2>
<ul>
    {{#each products}}
        <li>
            <strong>{{this.name}}</strong> - ${{this.price}}
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>

<script>
    function addToCart(productId) {
        fetch(`/api/carts/1/products/${productId}`, { method: "POST" })
            .then(response => response.json())
            .then(data => alert("Producto agregado al carrito"))
            .catch(error => console.error("Error:", error));
    }
</script>
